<h1>About Us</h1>
<p>
  <br>Cloud X-Transcoding provide you an online video format transfer and processing service.
  <br>You don't need to buy a new phone or bother to find a new player:) Just enjoy!
  <br>The <a href="https://github.com/LuLuPan/">X-Transcoding</a>
  is a project to make cloud computing do the video transcoding for you
   <a href="https://github.com/LuLuPan/">X-Transcoding</a>. This
  is the Cloud X-Transcoding for the tutorial.
</p>