<h1>How to use?</h1>
<p>
	<br>(1) Check Your Device: Before use, please use this to get information about your device's media processing capacity.
	<br>(2) Upload: Please select and upload your local video stream; You will get information about this stream.
	<br>(3) Settings: Please choose which format and settings you want.
	<br>(4) Download: X-Transcoding Done! Ready to download!

  <br>Ready? Or get more help on this Cloud X-Transcoding, see the project homepage
  <a href="https://github.com/LuLuPan/">X-Transcoding</a>.
</p>
