<%= link_to gravatar_for(current_user), current_user %>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.x_coders.count, "x_transcoding task") %>
</span>

<h1>
 <font size="5" color="blue">
  <br>Stream Information:
  <br>Video Container: AVI
  <br>Codec Format: H.264 MP
  <br>Bitrate: 30 fps
</font>
</h1>