

<%= form_for(@xcoder, :remote => true) do |f| %>
  <div class="field">
    <%= f.file_field :stream, placeholder: "Submit new Transcoding Stream..." %>
  </div>
  <%= f.submit "Upload", class: "btn btn-large btn-primary" %>
<% end %>